body {
  min-height: 100;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  border-radius: 5px;
  margin-top: 5vh;
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
}

.search-button {
  margin-top: 5vh;
  background-color: rgba(0, 0, 122, 0.662);
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 0px 5px 5px 0px;
}

.recipe-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}